@import "../../styles/mixins.scss";

.userItem {
  padding: 18px 29px;
  display: flex;
  justify-content: space-between;

  &:hover {
    background: #efeff6;
  }
}

.profilePic {
  @include roundImage();
}

.body {
  margin: 0 11px;
  width: 100%;
  font-size: 18px;
}

.name {
  margin-right: 10px;
  color: var(--secondary);
  font-weight: 600;
}

.email {
  font-weight: 450;
  color: var(--gray);
}

.button {
  position: relative;
  height: 30px;
  padding: 5px;
  display: flex;
  align-items: start;
  cursor: pointer;

  &:hover .popup {
    display: flex;
  }
}

.tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}

.popup {
  position: absolute;
  z-index: 9;
  right: 0;
  padding: 22px 25px 27px;
  width: 238px;
  height: 143px;
  display: none;
  flex-direction: column;
  justify-content: space-between;

  button {
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
    color: var(--secondary);
    font-size: 18px;

    &:active {
      background-color: var(--lightGray);
    }
  }
}

@media screen and (max-width: 576px) {
  .body {
    font-size: 14px;
  }

  .name {
    display: block;
  }
}
