.page {
  padding: 15px 0;
}

.header {
  padding: 5px 30px 20px;
  display: flex;
  border-bottom: 1px solid #ebebf0;
}

.title {
  margin-right: 10px;
  color: var(--secondary);
  font-size: 26px;
  font-weight: 600;
}

.page .button {
  margin-left: 10px;
  padding: 6px 12px;
}

.searchInput {
  margin-left: auto;
  width: 60%;
}
