.styledButton {
  padding: 8px;

  font-weight: 500;
  line-height: 1;
  background-color: var(--success);
  color: var(--white);
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
