@import "./fonts.scss";
@import "./vars.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Futura";
  background-color: var(--lightGray);
}

button,
input {
  font-family: "Futura";
  font-size: 18px;
}
