.wrapper {
  padding: 50px 30px 50px 130px;
}

.body {
  margin: 0 auto;

  border-radius: 15px;
  background: var(--white);
}

@media screen and (min-width: 1441px) {
  .body {
    max-width: 1440px;
  }
}

@media screen and (max-width: 1440px) {
  .body {
    max-width: 1135px;
  }
}
