@import "../../styles/mixins.scss";

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100px;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-y: auto;
  background-color: var(--white);
  border-top-right-radius: 15px;
}

.link {
  margin-bottom: 34px;
}

.logoIcon {
  margin-bottom: 26px;
}

.profilePic {
  @include roundImage();
  margin-bottom: 26px;
}
